@page "/login/individual"

@using Common.ApiRequestModels.PatientRequestModels;
@using BootstrapBlazor.Components;
@using System.Net;
@using System.Text.RegularExpressions;

@inject IConfiguration Configuration;
@inject NavigationManager NavigationManager;

<PageTitle>Swasthya - Individual Login</PageTitle>

<div class="wrapper-div">
    <div class="wrapper-div-upper">
        <h1 class="app-name">
            swasthya
        </h1>

        <span class="individual-login">
            Individual Login
        </span>

    </div>

    <div class="form-box">
        <EditForm Model="patient" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />

            <div class="form-element">
                <label for="Email">Email</label>
                <InputText id="Email" @bind-Value="patient.Email" class="form-control"></InputText>
            </div>

            <div class="form-element">
                <label for="Password">Password</label>
                <InputText id="Password" @bind-Value="patient.Password" class="form-control"></InputText>
            </div>

            <button class="form-button" type="submit">Login</button>
            <ValidationSummary />
        </EditForm>

        <a href='/registration/individual' class="button"> Don't have an account? Register ⟶ </a>
    </div>
</div>

@code {
    private LoginPatientRequest patient;
    private string baseUri;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        patient = new LoginPatientRequest();
        this.baseUri = Configuration["BackendUri"];
    }

    private async void HandleSubmit()
    {
        if (!Regex.IsMatch(patient.Email, @"^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$"))
        {
            errorMessage = "Invalid email format";
            return;
        }

        var loginUri = this.baseUri + "/api/Patient/login";

        try
        {
            var httpClient = new HttpClient();

            var response = await httpClient.PostAsJsonAsync<LoginPatientRequest>(loginUri, patient);

            if (response.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/Individual");
            }
        }

        catch (Exception ex)
        {
            errorMessage = $"An error occurred while registering: {ex.Message}";
        }
    }
}