@page "/Medical-Practitioners/Patients/{email}"

@using Common.ApiResponseModels.DoctorResponseModels;
@using Common.ApiRequestModels.DoctorRequestModels;

@inject HttpClient http;
@inject IConfiguration Configuration;
@inject NavigationManager NavigationManager;

<PageTitle>Swasthya - Individual Login</PageTitle>

<div class="wrapper-div">
    <div class="wrapper-div-upper">
        <h1 class="app-name">
            swasthya
        </h1>
    </div>
    <div class="profile-details">
        Patients
    </div>
</div>



@code {
    private DoctorResponseModel doctor;
    private string baseUri;
    private string patientEmail;
    private string errorMessage;

    [Parameter]
    public string email { get; set; }

    protected override async Task OnInitializedAsync()
    {
        doctor = new DoctorResponseModel();
        this.baseUri = Configuration["BackendUri"];
        await GetPatient();
    }

    private async Task GetPatient()
    {
        var uriFormat = this.baseUri + @"/api/Doctor/getDoctor/{0}";
        var getDoctorUri = string.Format(uriFormat, Uri.EscapeDataString(email));

        try
        {

            var response = await http.GetFromJsonAsync<DoctorResponseModel>(getDoctorUri);

            if (response != null)
            {
                this.doctor = response;
            }
            else
            {
                errorMessage = "An error occurred. Please try again.";
            }

        }

        catch (Exception ex)
        {
            errorMessage = $"An error occurred : {ex.Message}";
        }
    }
}