@page "/"

<PageTitle>Swasthya</PageTitle>

<div class="wrapper-div">
    <div class="wrapper-div-middle">
        <div class="left-component">
            <h1 class="app-name">
                swasthya
            </h1>

            <h1 class="hero-title">
                One stop for all <br />
                <span class="text-span">
                    medical reports
                </span>

                <br />
            </h1>

            <span class="explaination-text">
                Facilitating better communication between <br /> doctors and patients with easy and immediate <br /> access of all medical reports.
            </span>

            <a href='/registration' class="button"> Get Started ⟶</a>
        </div>

        <div class="right-component" />
    </div>
</div>