@page "/registration"

<PageTitle>Swasthya - Registration</PageTitle>

<div class="wrapper-div">
    <div class="wrapper-div-upper">
        <h1 class="app-name">
            swasthya
        </h1>
    </div>
    <span class="instruction-text">
        Select an account type to proceed.
    </span>
    <div class="wrapper-div-middle">
        <a href="/registration/individual"><img class ="images" src="./images/Individual.svg"/></a>
        <a href="/registration/medical-practitioner"><img class ="images" src="./images/Medical Practitioner.svg" /></a>
        <a href="/registration/healthcare-centre"><img class="images" src="./images/Healthcare Centre.svg" /></a>
    </div>
</div>