@page "/registration"

<PageTitle>Swasthya - Registration</PageTitle>

<div class="wrapper-div">
    <div class="wrapper-div-upper">
        <h1 class="app-name">
            swasthya
        </h1>
    </div>
    <span class="instruction-text">
        Select an account type to proceed.
    </span>
    <div class="wrapper-div-middle">
        <a class="individual" href="/registration/individual"></a>
        <a class="medical-practitioner" href="/registration/medical-practitioner"></a>
        <a class="healthcare-centre" href="/registration/healthcare-centre"></a>
    </div>
</div>