@page "/Individual/{email}"

@using Common.ApiResponseModels.PatientResponseModels;
@using Common.ApiRequestModels.PatientRequestModels;
@using Operations;

@inject HttpClient http;
@inject IConfiguration Configuration;
@inject NavigationManager NavigationManager;

<PageTitle>Swasthya - Individual</PageTitle>

<div class="wrapper-div">
    <div class="wrapper-div-upper">
        <h1 class="app-name">
            swasthya
        </h1>
    </div>
    <span class="instruction-text">
        Select one.
    </span>
    <div class="wrapper-div-middle">
        <button class="button-image" @onclick="() => NavigateToProfile()">
            <img class="images" src="./images/Profile.svg" />
        </button>
        <button class="button-image" @onclick="() => NavigateToDoctors()">
            <img class="images" src="./images/Medical Practitioners.svg" />
        </button>
        <button class="button-image" @onclick="() => NavigateToReports()">
            <img class="images" src="./images/Reports.svg" />
        </button>
    </div>
</div>

@code {

    [Parameter]
    public string email { get; set; }

    private void NavigateToProfile()
    {
        var pageUrl = "/Individual/Profile/" + email;
        NavigationManager.NavigateTo(pageUrl);
    }

    private void NavigateToDoctors()
    {
        var pageUrl = "/Individual/Medical-Practitioners/" + email;
        NavigationManager.NavigateTo(pageUrl);
    }

    private void NavigateToReports()
    {
        var pageUrl = "/Reports/" + email;
        NavigationManager.NavigateTo(pageUrl);
    }
}
